In [2]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
import pandas as pd
from IPython.display import display, HTML
df = pd.read_csv('data/samples.csv')
df

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

    symbol  dif  ret  num                  outfile        err
0       ZM    1    5    2     out/ZM/-d 1 -r 5.png   8.762045
1       ZM    2    5    2     out/ZM/-d 2 -r 5.png   9.028128
2       ZM    3    5    2     out/ZM/-d 3 -r 5.png  10.254311
3       ZM    4    5    2     out/ZM/-d 4 -r 5.png   9.542921
4       ZM    5    5    2     out/ZM/-d 5 -r 5.png  15.128518
..     ...  ...  ...  ...                      ...        ...
169   ARKK   25    5    2  out/ARKK/-d 25 -r 5.png   9.269042
170   ARKK   26    5    2  out/ARKK/-d 26 -r 5.png   9.269042
171   ARKK   27    5    2  out/ARKK/-d 27 -r 5.png  13.626742
172   ARKK   28    5    2  out/ARKK/-d 28 -r 5.png  13.626742
173   ARKK   29    5    2  out/ARKK/-d 29 -r 5.png  13.626742

[174 rows x 6 columns]